---
import { getMovieDetails } from "@data/tmdb";
import type { Movie } from "src/actions/movie";
import MoviePage from "src/components/MoviePage.astro";

export const prerender = false;
const url = new URL(Astro.request.url);
const id = url.searchParams.get("id");

let movie: Movie | null = null;
if (id) {
	movie = await getMovieDetails(id);
}
---


<MoviePage movie={movie}>
  <p>Welcome!</p>

  <p>Movie.surf helps you find a movie without wading through endless streaming apps. Just configure the options you'd like in the dock below—genres, decades, streaming services—or just describe what you would like to see! We'll handle the rest.</p>
</MoviePage>

<style>
  p {
    color: white;
    font-size: 1.2em;
    text-align: left;
  }
</style>
