---
import Button from "./Button.astro";

interface Props {
	upsell?: boolean;
}

const { upsell } = Astro.props;
---
<footer>
  {upsell && <section class="sell">
    <p>
      This site costs me money! I give it away for free because I'm not sure anyone would pay for a service like this? 
      And I'm a terrible businessperson. At any rate, if you like this site and want it to exist in the future, consider supporting it!
    </p>
    <Button id="show-support-button" variant="primary" glow href="https://buymeacoffee.com/sledsworth">Show Support</Button>
  </section> }
  {/* TODO: #1 Finish about page and renable link */}
  {false &&<a href="/about">About</a>}
  <p>Made with ❤️ by <a href="https://sledsworth.com">Steve Ledsworth</a>.</p>
</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 8rem;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    color: white;
  }

  .sell {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
  }

  .sell p {
    flex: 2 1 400px;
    font-size: .8em;
  }
</style>
