---
import Button from "./Button.astro";
---

<footer>
  <section class="sell">
    <p>This site costs me money! I give it away for free because I'm a terrible business person—and I'm not sure anyone would pay for a service like this? That's where you come in! Prove me wrong that this is a worthy investment with your hard-earned dollars.</p>
    <Button variant="primary" id="buy-me-a-coffee-link" glow autofocus href="https://buymeacoffee.com/sledsworth">☕️ Buy me a coffee</Button>
  </section>
  <a href="/about">About</a>
  <p>Made with ❤️ by <a href="https://sledsworth.com">Steve Ledsworth</a>.</p>
</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 8rem;
    flex-direction: column;
    align-items: center;
  }
  footer a {
    color: white;
    font-weight: bold;
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer p {
    color: white;
  }

  .sell {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
  }

  .sell p {
    font-size: .8em;
  }
</style>