---
interface Props {
	title: string;
	subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<a href="/" class="glow">
<header transition:persist slot="header">
  <div class="light-bar light-bar--vertical">
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
  </div>
  <div class="light-bar light-bar--horizontal">
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
  </div>
  <div class="marquee-container">
    <div class="marquee">
      <h1>{title}</h1>
      {subtitle && <p>{subtitle}</p>}
    </div>
  </div>
  <div class="light-bar light-bar--horizontal">
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
  </div>
  <div class="light-bar light-bar--vertical">
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
    <div class="light"></div>
    <div class="light alternate"></div>
  </div>
</header>
</a>
<style>
      h1 {
      text-align: center;
      font-size: 3rem;
      margin: 0;
      line-height: 1;
    }

    a {
      text-decoration: none;
      display: block;
      color: black;
      border-radius: 1rem;
      transition: all .1s ease;
    }

    a:hover {
      transform: scale(1.025);
      transform-origin: center
    }

    .marquee {
      background: url(/marquee.svg) repeat;
      background-color: white;
      padding: 2.5rem .5rem 2rem;
      border-radius: .25rem;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }

    .marquee-container {
      border: 24px solid;
      border-radius: 1rem;
      padding: 0;
      background-color: black;
      /* background-clip: padding-box;
      border-image: url(#circle) 27 round; */
      /* min-height: 8rem; */
      grid-column: 1 / 4;
      grid-row: 1 / 4;
      display: flex;
      flex-direction: column;
      /* box-shadow: 0 0 60px 1px gold;   */
    }


  .light-bar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: .25rem; */
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .light-bar:not(.light-bar--horizontal) {
    height: calc(100% - .25rem);
    justify-content: space-between;
    align-items: center;
    }

  .light-bar:not(.light-bar--horizontal) ~ .light-bar:not(.light-bar--horizontal) {
    grid-column: 3 / 4;
  }

  .light-bar--horizontal {
    flex-direction: row;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-content: space-evenly;
    height: 1.25rem;
    margin: .5rem;
    align-items: center;
  }

  .light-bar.light-bar--horizontal ~ .light-bar.light-bar--horizontal {
    grid-row: 3 / 4;
  }

  @media screen and (max-width: 800px) {
    .light-bar.light-bar--horizontal .light:nth-last-child(-n + 2) {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
    .light-bar.light-bar--horizontal .light:nth-last-child(-n + 4) {
      display: none;
    }
    .light-bar.light-bar--vertical .light:nth-last-child(-n + 1) {
      display: none;
    }
    .marquee {
      padding: 2rem .5rem 1.5rem;
    }
  }

  @media screen and (max-width: 440px) {
    h1 {
      font-size: 2rem;
    }
    .light-bar.light-bar--horizontal .light:nth-last-child(-n + 6) {
      display: none;
    }
    .light-bar.light-bar--vertical .light:nth-last-child(-n + 1) {
      display: none;
    }
  }

  @media screen and (max-width: 360px) {
    h1 {
      font-size: 1.75rem;
    }
    .light-bar.light-bar--horizontal .light:nth-last-child(-n + 8) {
      display: none;
    }
    .light-bar.light-bar--vertical .light:nth-last-child(-n + 2) {
      display: none;
    }
  }

  header {
    display: grid;
    grid-template-columns: 1.25rem 1fr 1.25rem;
    grid-template-rows: 1.25rem 1fr 1.25rem;
    align-items: center;
    margin: 1rem 0 2rem;
  }

  .light {
    height: 1rem;
    width: 1rem;
    border-radius: 2rem;
    border: 1px solid white;
    z-index: 10;
    /* box-shadow: inset 0 0 2px 2px white;
    opacity: .9; */
  }

  .light::before {
    display: block;
    position: relative;
    content: "";
    z-index: 10;
    height: 1rem;
    width: 1rem;
    border-radius: 2rem;
    opacity: .4;
    box-shadow: inset 0 0 4px 4px gold, 0 0 10px 10px gold;
    animation: 2s cubic-bezier(0.42, 0, 0.58, 1) infinite  lightOn;
  }

  .light.alternate::before {
    animation: 2s cubic-bezier(0.42, 0, 0.58, 1) 1s infinite lightOn;
  }
</style>
