---
import type { LimitedMovie } from "@actions/movie";

interface Props {
	movie: LimitedMovie | null | undefined;
}

const { movie } = Astro.props;
---


{movie && (
<a title=`${movie.title}` href=`/movie/${movie.id}` class="movie-card show">
  <img class="movie-card-image" width="80" src={`https://image.tmdb.org/t/p/w500${movie?.poster_path}`} alt={movie.title} />
</a>
)}
<style>
a {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  transition: all .1s ease;
}

a:focus,
a:hover {
  outline: 4px solid rgb(255, 179, 0);
  outline-offset: 2px;
  transform: scale(1.025);
  transform-origin: center;
 }

 img {
   width: 100%;
 }
</style>
