---
import closeIcon from "../icons/close.svg?raw";

interface Props {
	title: string;
	id: string;
}

const { title, id } = Astro.props;
---

<dialog class="popover" id={id}>
  <header>
    <h1>{title}</h1>
    <button type="button" aria-label="close">
      <Fragment set:html={closeIcon} />
    </button>
  </header>
  <div class="content">
    <slot></slot>
  </div>
</dialog>
<script>
  const dialogs = document.querySelectorAll('dialog');
  dialogs.forEach(dialog => {
    const close = dialog.querySelector('button[aria-label="close"]');
    close?.addEventListener('click', () => {
      dialog.close();
    });
    dialog.addEventListener('click', (event) => {
      if (event.target === event.currentTarget) {
        (event.currentTarget as HTMLDialogElement)?.close()
      }
    });
  });
</script>
<style>
  .popover {
    /* bottom: -8rem; */
    padding: 0;
    top: auto;
    position: fixed;
    margin: auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    background: #000;
    border-radius: 2rem 2rem 0 0;
    color: #fff;
    border: none;
    /* visibility: hidden; */
    /* opacity: 0; */
    transform-origin: bottom;
    transform: translate(0, 1000px);
    transition: all .4s cubic-bezier(0.485, -0.050, 0.285, 1.105) allow-discrete;
    z-index: 1000;
    overflow: hidden;
    max-height: 80vh;
    bottom: 0;
    height: 100%;
    display: grid;
  }

  .content {
    overflow-y: auto;
  }

  dialog[open] {
    transform: translate(0, 0);
    /* visibility: visible; */
    /* opacity: 1; */
  }

  @starting-style {
    dialog[open] {
      /* opacity: 0; */
      /* visibility: hidden; */
      transform: translate(0, 1000px);
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    padding: 1rem 1rem 0 0;
    top: 0;
    background: black;
    border-bottom: 1px solid white;
  }

  button[aria-label="close"] {
    all: unset;
    color: white;
    padding: .5rem;
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    border-radius: 48px;
    transition: background .3s;
  }

  button[aria-label="close"]:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
  }

  h1 {
    font-size: 2rem;
    font-family: "ltc-broadway-engraved", sans-serif;
    padding: .5rem 1rem;
    margin: 0;
  }
</style>