---
import Button from "./Button.astro";

interface Props {
	removeElementWithId?: string;
}
const { removeElementWithId } = Astro.props;
---

<Button className="reset-suggestions-button" data-remove={removeElementWithId}>Clear Movies</Button>
<script>
import { actions } from "astro:actions";


const resetButtons = document.querySelectorAll(".reset-suggestions-button") as NodeListOf<HTMLButtonElement>;

  for (const resetButton of resetButtons) {
    resetButton?.addEventListener("click", async () => {
    const removeElement = document.getElementById(resetButton?.dataset?.remove ?? '');
    resetButton.disabled = true;
    const { error } = await actions.movie.resetSession();
    if (error) alert(error.message);
    resetButton.disabled = false;
    if (removeElement) {
      removeElement.remove();
    }
  });
}
</script>
